.rent-button-container {
  display: flex;
  flex-direction: column;
}

.book-button {
  width: 190px;
  height: 40px;
  font-size: 20px;
  color: white;
  border: 0;
}

.book-button:disabled {
  background-color: #e6e6e6
}

.rent-button {
  background-color: #00adee;
}

.wishlist-button {
  background-color: #a5cd39;
}

.not-available-span {
  color: red;
}
