.book {
  display: inline-block;
  margin: 50px 35px;
  width: 130px;
  height: 300px;
}

.book-image-box {
  width: 130px;
  height: 180px;
  display: flex;
  justify-content: center;
  background-color: #d8d8d8;
}

.book-image {
  max-width: 130px;
  max-height: 180px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.author {
  font-size: 12px;
}
