.user-popover {
  position: absolute;
  border: 1px solid #f2f2f2;
  width: 160px;
  padding: 0;
  right: 0;
  top: 40px;
  background-color: #FFF;
  font-size: 14px;
}

.user-popover::before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: transparent transparent #f2f2f2 transparent;
  right: 10px;
}

.user-popover-action {
  list-style-type: none;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #f2f2f2;
}

.user-popover-action:hover {
  background: rgba(0,173,238,0.25);
  cursor: pointer;
}

.user-popover:last-child {
  border-bottom: none;
}
