.profile-books-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #00adee;
}

.profile-book-title {
  font-size: 20px;
  color: #a5cd39;
  line-height: 19px;
}

.profile-books {
  display: flex;
}
